{% extends "AcmeDemoBundle::login.html.twig" %}
{% block login %}
  
{% if error %}
     <div  class="alert alert-message">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
               {{ error.message }}
     </div>
{% endif %}
    
     


    <form action="{{ path("_security_check") }}" method="post" id="login">
       <div class="input-group">
      <input type="text" placeholder="الاسم" id="username" name="_username" value="{{ last_username }}" />
      <input type="password" placeholder="كلمة المرور" id="password" name="_password" />
      </div>
         <button id="login-submit" type="submit" class="login-button">تسجيل دخول</button>
    </form>
{% endblock %}


